[naissance-ui="HistoryKeyframes"] {
    .actions-bar {
        display: flex;
        flex-wrap: nowrap;
        
        [component="ve-button"] { margin-right: var(--padding); }
    }
    > table > tbody > tr {
        [id="0-0"] { width: 6rem; }
        [id="1-0"] {
            > [component="ve-html"] {
                max-height: 8rem;
                overflow-y: auto;
            }
            max-width: 15rem;
            width: 50%;
            word-break: break-word;
        }
    }
}