/* -- Entity Panel Container Styling/Positioning -- */
.entity-panel-container.bottom-left {
  overflow-x: visible;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  width: 100dvw;
  z-index: 1;

  bottom: 10px;
  left: 10px;

  .entity-ui-pane {
    width: fit-content;
    pointer-events: auto;
  }
}
.entity-panel-container.bottom-left:not(:has(.entity-ui-pane)) {
  visibility: hidden;
}