/* -- Entity Panel Container Styling/Positioning -- */
.entity-panel-container.bottom-left {
  overflow-x: visible;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  width: 100dvw;
  z-index: 1;

  bottom: 10px;
  left: 10px;
  transition: left 1.25s ease;

  .entity-ui-pane {
    pointer-events: auto;
  }
}
.entity-panel-container.bottom-left:not(:has(.entity-ui-pane)) {
  left: calc(var(--left-sidebar-width) + 5px + 8px*2);
}