/* -- Entity Actions Context Menu Styling -- */
#entity-actions-context-menu {
  overflow: visible;
  
  .context-menu:not([order]) {
    position: static;
    overflow: visible;
  }
  .context-menu[order] {
    position: absolute;

    bottom: 0px;
  }
}
