.leaflet-popup:has(#customisation-top-parent:not(.uf-minimised) [page="description"]) #entity-actions-header {
  transform: translateY(9.5rem);
}
.leaflet-popup:has(#customisation-top-parent:not(.uf-minimised) [page="description"]) #entity-actions-context-menu {
  transform: translateY(9.5rem);
}
#entity-ui-customisation-other {
}
#entity-ui-customisation-other:has([page="description"]) {
  height: 22rem;
  transition: all 0.5s ease;

  .unique.context-menu {
    max-height: calc(20rem - 8px) !important;
  }
}

[page="description"] #wysiwyg-editor {
  position: relative;

  border: 1px solid transparent;
  bottom: 1rem;

  /* -- Toolbar -- */
  .toolbar {
    background-color: rgb(35, 35, 35);
    border: 1px solid white;
    position: sticky;
    top: 0;
  }
  .toolbar .editor-button.icon {
    transition: all 0.5s ease;
  }
  .toolbar .editor-button.icon img {
    filter: invert(1);
  }
  .toolbar .editor-button.icon:not(:hover) img {
    opacity: 0.83;
  }
  .toolbar .editor-button.icon:hover {
    background-color: var(--selection-colour);
    filter: brightness(2);
    opacity: 1;
  }
  .submenu {
    background-color: rgb(15, 15, 15);

    .active {
      background-color: rgb(50, 50, 50);
    }
  }
  
  .toolbar span:has(img) {
    padding: 8px;
  }

  /* -- Content Area --*/
  .content-area {
    border: 1px solid transparent;
  }
  .content-area:not(:has(.visual-view:focus)) {
    border-left: 1px solid white;
  }
  .content-area:has(.visual-view:focus) {
    box-shadow: -4px 0 0 rgba(60, 60, 240);
  }
    .content-area p {
      margin: 0px;
    }

  /* -- Modal View -- */
  .modal-bg {
    width: 100%;
  }
  .modal-content {
    color: black;
  }
  .modal-wrapper {
    border-radius: 8px;
    min-height: 0px;
    padding: 0.75rem;
    transform: translate(35%, 20rem);

    .close {
      position: absolute;
      height: 1rem;
      top: 0px;
      right: 0px;
      width: 1rem;

      color: black;
      padding: 0.5rem;
      text-align: center;
      vertical-align: middle;
    }
  }
}