/* -- Settings UI Styling -- */
/* -- Settings UI Layout -- */
#settings-ui {
  color: white;
}
#settings-ui tr td > div {
  padding: 0px;
}

#settings-ui .header {
  font-family: "Karla";
  font-weight: 900;
  font-size: 1rem;

  text-transform: uppercase;
}
